

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
      


      
      
      
    
     




    <div class="owl-carousel-wrapper" id="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">About Us</h1>
        <p class="lead text-white" id="about">Prayas aims on upbringing the under-privileged children by providing them quality education as well as social values.</p>
      </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('/front_end/images/id_hero.jpeg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">

        <center><h2 class="title text-cursive mb-4">"OUR HISTORY"</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             <center><p><i> “Everything begins with an idea”</i></p></center>
             <p align="justify">This initiative is based on an idea that came through a random incident. Three girls of LJIET were passing through the college outskirts and noticed some children were playing and asked them about their studies. They found that the children were lacking some educational facilities which is mandatory for every child of their age group. The three girls came with an astounding idea of trying to provide those educational facilities to these children. They decided to discuss this idea with their communication skills faculty, Prof. Sushma Jacob. The faculty appreciated their idea and to implement it, the students and the faculty represented their idea to the college management. The college management also appreciated the idea and provided resources to execute the idea. This way Prayas was initiated and the students of LJIET also voluntarily provided their supported by contributing their efforts.</p>
              
          <p align="justify">There was a time when Prayas was about to demolish due to the lack of volunteers. But there were three volunteers who maintained the consistency & integrity of Prayas by their valuable efforts. And due to all these appreciation and efforts the Prayas is contributing towards upbringing and educating the underprivileged children since last many years (12 years).</p>    
             
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block" style="border: none;">
                  <center><img src="/images/titlebar-logo.png" alt="Image" class="img-fluid" style="border:none;"></center>
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <img src="/front_end/images/teaching6.JPG" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto">
            
           <center><h3 class="text-cursive mb-4">"OUR MOTTO"</h3></center>
            <p>"A try for better tomorrow" </p>
            <br>
            <center><h3 class="text-cursive mb-4">"OUR MISSION"</h3></center>
            <p align="justify">Every child possesses unique talent and a different personality. And every child has a right to gain equal opportunities, education, knowledge and social values. But some of them are caught in inevitable circumstances.</p>
            <p align="justify">Prayas is on mission of upbringing and educating the children who wants to come forward but are trammelled under the deprived society norms.</p>
            
            <p><a href="/contact" class="btn btn-primary rounded-0 px-4">Contact Us</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    
<div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="text-cursive">"OUR PROMINENT LEADERS"</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a class="d-inline-block">
                <img src="/front_end/images/barkha.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Barkha Bhagia</h2>
                <span class="meta">"Founder"</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/neel.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                <h2>Neel Patel</h2>
                 <span class="meta">"Former Head"</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/priyal1.jpeg" alt="Image"
                 class="img-fluid" style="width: 100px;height: 100px;">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Priyal Trivedi</h2>
                <span class="meta">"Co-Founder"</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a class="d-inline-block">
                <img src="/front_end/images/amit.jpeg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Amit Muchhala</h2>
                <span class="meta">"Head"</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/nandish.jpeg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
               
                <h2>Nandish Vasavda</h2>
                 <span class="meta">"Former Head"</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/manav1.jpeg" alt="Image"
                 class="img-fluid" style="width: 100px;height: 100px;">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Manav Thakkar</h2>
                <span class="meta">"Head"</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="text-cursive">"OUR MENTORS"</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/manish sir.png" alt="Image"
                 class="img-fluid" style="width: 100px;height: 100px;">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Dr. Manish Shah</h2>
                <span class="meta">"Vice President, LJK Trust"</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a class="d-inline-block">
                <img src="/front_end/images/sushma.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Prof. Sushma Jacob</h2>
                <span class="meta">"Faculty Co-ordinator"</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/suthar sir.jpg" alt="Image"
                 class="img-fluid" style="width: 100px;height: 100px;">
              </a>
              <div class="post-entry-1-contents">
                
                <h2>Dr. Anil Suthar</h2>
                <span class="meta">"Director, LJIET"</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="container">
        <div class="row mb-3 justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="text-cursive">"WEBSITE DEVELOPERS"</h2>
          </div>
        </div>
        <div class="row align-items-stretch">

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a class="d-inline-block">
                <img src="/front_end/images/vrushang.jpg" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <h2>Vrushang Vaishnav</h2>
                <span class="meta">"Back-End Developer"</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/shreya.png" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                <h2>Shreya Bhatt</h2>
                <span class="meta">"Content Writer"</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5">
            <div class="post-entry-1 h-100 bg-white text-center">
              <a  class="d-inline-block">
                <img src="/front_end/images/haard3.jpeg" alt="Image"
                 class="img-fluid" style="width: 100px;height: 100px;">
              </a>
              <div class="post-entry-1-contents">
                <h2>Haard Rao</h2>
                <span class="meta">"Front-End Developer"</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="container">
        {{!-- <center><h2 class="title text-cursive mb-4">OUR HISTORY</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             <center><p><i> “Everything begins with an idea”</i></p></center>
             <p align="justify">This initiative is based on an idea that came through a random incident. Three girls of LJIET were passing through the college outskirts and noticed some children were playing and asked them about their studies. They found that the children were lacking some educational facilities which is mandatory for every child of their age group. The three girls came with an astounding idea of trying to provide those educational facilities to these children. They decided to discuss this idea with their communication skills faculty, Prof. Sushma Jacob. The faculty appreciated their idea and to implement it, the students and the faculty represented their idea to the college management. The college management also appreciated the idea and provided resources to execute the idea. This way Prayas was initiated and the students of LJIET also voluntarily provided their supported by contributing their efforts.</p>
              
          <p align="justify">There was a time when Prayas was about to demolish due to the lack of volunteers. But there were three volunteers who maintained the consistency & integrity of Prayas by their valuable efforts. And due to all these appreciation and efforts the Prayas is contributing towards upbringing and educating the underprivileged children since last many years (12 years).</p>    
             
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block" style="border: none;">
                  <center><img src="/images/titlebar-logo.png" alt="Image" class="img-fluid" style="border:none;"></center>
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div> --}}
    <center><h2 class="title text-cursive mb-4">"OUR TEAM"</h2></center>
  			<br><br>
  			<center>
                    <img src="/front_end/images/banner1.1.jpg" alt="Image" class="img-fluid" style="border:none;"></center>
                    <br><br>
  			<center>
                    <img src="/front_end/images/banner2.1.jpg" alt="Image" class="img-fluid" style="border:none;"></center>
                    <br><br>
  			<center>
                    <img src="/front_end/images/banner3.1.jpg" alt="Image" class="img-fluid" style="border:none;"></center>
  	
    <div class="site-section">
        <div class="container">
          <center>
                <div class="" ><h2 class="text-cursive">Follow us on <br><br><a href="https://m.facebook.com/prayas.forbetterfuture/" class="pl-3 pr-3" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/prayas_ljiet/" class="pl-3 pr-3"  target="_blank"><span class="icon-instagram"></span></a></h2></div>
               </center>
          
        </div>
      </div>
      <footer class="site-footer bg-white" style="padding: 0;">
      
           
        <center>      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Prayas</center>
  
        <br>
    
        <span style="float: right;"><a href="#owl-carousel-wrapper">Go To Top<span style="font-size: 36px;">&#8593;</span></a> </span>
          </footer>
    
     

    </div>
    </div>
    

      

 

  </body>


