

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
 



    <div class="owl-carousel-wrapper" id="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">Achievements</h1>
        <p class="lead text-white">Milestones set by us</p>
      </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('/front_end/images/id_hero.jpeg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">
        
        <center><h2 class="title text-cursive mb-4">Our Achievements</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a class="cause-link d-block">
                  <img src="/front_end/images/award.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

              <ul>
              <li><p align="justify">As quoted by George Herbert: "To him that will, ways are not wanting i.e. Where there's a will, there's a way", Prayas was a small try for development of underprivileged children but will behind this small initiative was strong enough to make his own way through all ups and downs. The people working for it never stopped and faced all the circumstances as TEAM PRAYAS for taking this cause at a great level</p></li>
              	<li><p align="justify">We all know that good work leads to some fruitful and appreciable results and therefore, for this noble cause and commendable team efforts, Prayas was awarded by GTU with INNOVATIVE STUDENT'S CO-CREATION AWARD under the category of Leadership and Excellence on account of 5<sup>th</sup>GTU Innovation Sankul day which was held on February 14<sup>th</sup>2016.</p></li>
              </ul>
             
              
            </div>
          </div>
          
        </div>
        <center><h2 class="title text-cursive mb-4">Ahmedabad Mirror</h2></center>
        <div class="row mb-5 align-items-st">
        <div class="col-md-4">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/am2.jpeg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
          <div class="col-md-4">
            <div class="heading-20219">
             
             <center><p><a href="https://ahmedabadmirror.indiatimes.com/ahmedabad/cover-story/their-prayas-touches-countless-lives/articleshow/37231626.cms">Article Link 1</a><br><a href="https://ahmedabadmirror.indiatimes.com/ahmedabad/others/campusupbeat-paying-it-forward/articleshow/66872473.cms">Article Link 2</a></p></center>
             <p align="justify">As everyone says- “There is no need to give recognition to a good cause or deed, it always reflects.” And hence here is a live example. Prayas got featured in Ahmedabad Mirror for more than once due to its appreciable and consistent work towards betterment of developing our society. This way many people came to know about the efforts and never-ending contributions of Prayas.</p>
              
              
             
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/article1.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
       <center><h2 class="title text-cursive mb-4">Kishan's Excellent Work in Board Examination</h2></center>
        <div class="row mb-5 align-items-st">
        <div class="col-md-4">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/kishan1.jpeg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
          <div class="col-md-4">
            <div class="heading-20219">
             
             
             <p align="justify">Recently our one of the students “Thakor Kishankumar Chandaji” cleared the Board examination with first class. Prayas endorsed him to climb this wonderful step of his life which would give him many great opportunities for achieving all his dreams and a great success in life.</p>
              
              
             
             
            </div>
          </div>
          <div class="col-md-4">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/kishan_mark1.jpeg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                     </div>
                  </a>
  
                
                </div>
            </div>
          </div>
          <center><h2 class="title text-cursive mb-4">From Prayas to ITI</h2></center>
          <div class="row mb-5 align-items-st">
            <div class="col-md-5">
              <div class="heading-20219">
               
                <p align="justify">School level academic education is not enough for anyone to fulfil their dreams and achieve their goals. For being an experienced professional in any field everyone needs more knowledge, opportunities and a right direction to work. And Prayas also encourages the students studying in Prayas to develop and achieve their own goals. A Prayas student named Ranjit completed his schooling with appreciable grades and has joined ITI with the endorsement of Prayas.</p>
                
               
              </div>
            </div>
            <div class="col-md-7">
              <div class="cause shadow-sm">
                
                  <a  class="cause-link d-block">
                    <center><img src="/front_end/images/ranjit.jpeg" alt="Image" class="img-fluid"></center>
                    <div class="custom-progress-wrap">
                    
                  
                         </div>
                  </a>
  
                
                </div>
            </div>
          </div>
          <center><h2 class="title text-cursive mb-4">Girl Education</h2></center>
          <div class="row mb-5 align-items-st">
            <div class="col-md-7">
              <div class="cause shadow-sm">
                
                  <a class="cause-link d-block">
                    <img src="/front_end/images/gir ed 1.jpg" alt="Image" class="img-fluid">
                    <div class="custom-progress-wrap">
                    
                    </div>
                  </a>
  
                 
                
                </div>
            </div>
            <div class="col-md-5">
              <div class="heading-20219">
  
                <p align="justify">Prayas was initiated for upbringing and betterment of children belonging to underprivileged society by educating & fostering them. Prayas understands the importance of education and Prayas believes that it is evreyone's  right to gain basic education and morals. </p>
                <p align="justify">Through Prayas, families have understood importance of education and they have started sending their daughters to Prayas for gaining knowledge.</p>
               
                
              </div>
            </div>
            
          </div>
          <center><h2 class="title text-cursive mb-4">COVID-19</h2></center>
          <div class="row mb-5 align-items-st">
            <div class="col-md-5">
              <div class="heading-20219">
               
                <p align="justify">As we all know about the lockdown situation caused by Covid-19 due to which many people were facing the shortage of regular meals. So, we had decided to contribute towards this crisis situation by collecting funds and arranging meals with the help of "LJ AAPNE" for the 25 families who earns on daily wages residing near LJ Campus. We got fund around 12,000 Rupees and was given to "LJ AAPNE" which serves meals to the needy people every day.</p>
                <p align="justify">We decided to aware kids about the crisis situation of Covid-19. We sent them videos which show the prevention for Covid-19, also told them to wear a mask, washing their hands for atleast 20 seconds as per WHO guidelines. One of a kid made a video of "Home Made Mask" in which she shows that how one can make a mask at home.</p>
                
               
              </div>
            </div>
            <div class="col-md-7">
              <div class="cause shadow-sm">
                
                  <a  class="cause-link d-block">
                  <center><video width="320" height="240" controls>
                    <source src="/front_end/images/COVID19.mp4" type="video/mp4">
                  
                    Your browser does not support the video tag.
                  </video>
                  </center>
                    <div class="custom-progress-wrap">
                    
                  
                    </div>
                  </a>
  
                
                </div>
            </div>
        
      </div>
    </div>

    

   <div class="site-section">
        <div class="container">
          <center>
                <div class="" ><h2 class="text-cursive">Follow us on <br><br><a href="https://m.facebook.com/prayas.forbetterfuture/" class="pl-3 pr-3" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/prayas_ljiet/" class="pl-3 pr-3"  target="_blank"><span class="icon-instagram"></span></a></h2></div>
               </center>
          
        </div>
      </div>
      <footer class="site-footer bg-white" style="padding: 0;">
      
           
        <center>      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Prayas</center>
  
        <br>
    
        <span style="float: right;"><a href="#owl-carousel-wrapper">Go To Top<span style="font-size: 36px;">&#8593;</span></a> </span>
          </footer>

    </div>



  </body>

</html>
