 <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

    


      
      
      
      



    <div class="owl-carousel-wrapper" id="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">Events</h1>
        <p class="lead text-white">Some memories never fade</p>
      </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('/front_end/images/23_hero.jpeg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <center><h2 class="title text-cursive mb-4">LUMINA</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             
             <center><p><i>“All work and no play makes Jack a dull boy!”</i></p></center>
             <p align="justify">The above saying is not only applicable for Jack but also for all the children. It is a fact that everyone including the children need some enjoyment in their lives between their hectic schedules and studies. Also, there are some hidden skills in every single being .</p>
              <p align="justify">“LUMINA”-LJIET’s very own cultural festival which is celebrated once in a year. The Prayas children are also given an opportunity to perform on the stage and showcase their talents. Every year Prayas children represent unique performances on the stage under the guidance of the volunteers of Prayas. </p>
              
             
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/lumina_1.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        <center><h2 class="title text-cursive mb-4">Prayas Birthday Celebration: 23rd of March</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a class="cause-link d-block">
                  <img src="/front_end/images/prayas23_!.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

              <p align="justify">Prayas was initiated on 23rd march, 2009 by the students of LJIET under the guidance of Mrs. Sushma Jacob, faculty of LJIMS with the support of college management as well. Prayas mainly focuses on upbringing and educating under-privileged children. Along with the education, extra-circular activities as well as moral values are also encouraged in Prayas.</p>
             <p align="justify"> Every year the children and volunteers celebrate Prayas’s birthday by representing Prayas through the performances and cake cutting ceremony. The dignitaries, faculties, alumni as well as the director of the college are invited to be a part this celebration with us. They do appreciate the efforts by giving their time. </p>
             
              
            </div>
          </div>
          
        </div>
        <center><h2 class="title text-cursive mb-4">Diwali Celebration</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             <p align="justify">“Diwali” – a festival in which people of different age groups celebrate and enjoy the festival uniquely but together with their family & friends. Everyone is eagerly waiting and excited too, for the festival of lights. But there are some families who cannot enjoy and celebrate this festival as everyone else does, due to some circumstances. The student of Prayas also belongs to these families and volunteers of Prayas tries there best to fulfilthere wishes.</p>
              <p align="justify">Prayas volunteers organises a Diwali celebration event every year for their children. Here, the children of Prayas are being surprised with the different gifts like clothes, sweets, food, footwears, etc.Prayas children are also being acknowledged to celebrate the Diwali without fire crackers because of there adverse effect on our environment</p>
              
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/diwali.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        <center><h2 class="title text-cursive mb-4">Lets Go Shopping</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/lgs_1.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

              <p align="justify">By hearing the word “Shopping”, not only the children but everyone gets excited and start preparing their wish-list i.e. list of the things they would like to buy. Unfortunately, there are some wish-lists which are never being fulfilled completely. So, to complete those lists every year Asmaan Foundation organises an event called “Let’s Go Shopping”. Prayas with support of Asmaan Foundation, tries to accomplish those incomplete wish-lists and give the children a real-time shopping experience.</p>
              <p align="justify">On the day of event, children are given pseudo money (fake money) through which they buy the things they like or they need. Children learn to buy, barter and bargain judiciously. Along with learning, they also enjoy shopping experience.</p>
              
              
            </div>
          </div>
          
        </div>
        <center><h2 class="title text-cursive mb-4">Independence Day</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             
              <p align="justify">Independence Day is the National Festival of our country. As a citizen of India, everyone should be aware about importance this day. Every educational as well as business firm celebrates this auspicious day of independence with immense patriotism and enthusiasm. Prayas celebrates this day together with the children and volunteers including some faculties as well as the alumnis of Prayas.</p>
              <p align="justify">On this day activities like flag hoisting, acknowledging the children about history through short films, storytelling, speeches, movies, etc. are encouraged. Children do enjoy by playing small games, singing, dancing, etc. Also, a drawing competition is arranged for the children, for which they are given different prizes. </p>
              
              
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a class="cause-link d-block">
                  <img src="/front_end/images/ID.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        <center><h2 class="title text-cursive mb-4">Picnic</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a class="cause-link d-block">
                  <img src="/front_end/images/picnic0.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

              <p align="justify">Picnic is the most joyful and adventurous part of schooling. Every student in their schooling period wishes to go on a picnic with their friends. Many of them can often go to the picnics organized by their schools but not all children are such fortunate to enjoy and experience those joyful moments with their friends. Students of Prayas belongs to the deprived society and they might not able to go to such picnics. </p>
              <p align="justify">Every year Prayas organizes a picnic for these children. The picnic is arranged at places where the children can enjoy their trip and also learn something beside books.</p>
            <p align="justify">Kids are taken to places like Akshardham where they can learn about peace, harmony and Indian history; Adalaj stepwell so that they can know our ancient talent of carving; Gandhi Ashram so that they can understand thi lifestyle of Mahatma Gandhi,etc.</p>  
              
            </div>
          </div>
          
        </div>
        <center><h2 class="title text-cursive mb-4">Sports Day</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             
              <p align="justify">Sports is an important aspect for students as well as adults. Everyone is not interested in sports but as far as health is concerned everyone should do regular exercise to stay fit. Each and every school organizes sports day events for encouraging students towards sports. Also, the government supports the sports activities enthusiastically.  Hence, Prayas also motivates their children towards sports by organizing sports day once in a year.</p>
              <p align="justify">Games like relay race, kho-kho, kabbadi, trileg race, etc. are arranged on the sports day. Volunteers and children of Prayas together play some of the games. After the completion of all the games prizes are distributed amongst winners. As soon as the prize distribution is done, the children are given food packets and drinks for their fruitful efforts. Children enjoy playing different games and also maintain the discipline & follow the rules of any particular game. Hence, they learn while playing and enjoying.</p>
              
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/sports.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        <center><h2 class="title text-cursive mb-4">LJPCCM</h2></center>
          <div class="row mb-5 align-items-st">
            <div class="col-md-7">
              <div class="cause shadow-sm">
                
                  <a class="cause-link d-block">
                    <img src="/front_end/images/ljpccm1.jpg" alt="Image" class="img-fluid">
                    <div class="custom-progress-wrap">
                    
                    </div>
                  </a>
  
                 
                
                </div>
            </div>
            <div class="col-md-5">
              <div class="heading-20219">
  
                <p align="justify">A cricket match is something that excites many of us. It is considered to be the most popular sport in our country. So, we thought of doing something exciting and hence, organized a cricket match which was named as "LJPCCM ( LJ's Prayas Charity Cricket Match )". It was an college level cricket match which was being played from 15th March, 2020 till 17th March, 2020. Around about 24 teams enrolled with just a minimal amount of ₹500 per team. Every team played with their best efforts and commendable sportsmanship. Our college also supported this innovative initiative which was initiated for the betterment of the Prayas Children.</p>
                  
                
              </div>
            </div>
            
          </div>
       
        
      </div>
      <div class="site-section">
        <div class="container">
          <center>
                <div class="" ><h2 class="text-cursive">Follow us on <br><br><a href="https://m.facebook.com/prayas.forbetterfuture/" class="pl-3 pr-3" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/prayas_ljiet/" class="pl-3 pr-3"  target="_blank"><span class="icon-instagram"></span></a></h2></div>
               </center>
          
        </div>
      </div>
      <footer class="site-footer bg-white" style="padding: 0;">
      
           
        <center>      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Prayas</center>
  
        <br>
    
        <span style="float: right;"><a href="#owl-carousel-wrapper">Go To Top<span style="font-size: 36px;">&#8593;</span></a> </span>
          </footer>
      

    </div>
    

    
   
    
    
   

    </div>


  </body>
