

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">




    <div class="owl-carousel-wrapper" id="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3">Teaching</h1>
        <p class="lead text-white">For a Better Tomorrow</p>
      </div>

      
        <div class="ftco-cover-1 overlay" style="background-image: url('/front_end/images/ljp.jpeg');"></div>
      
    </div>
    
    
    <div class="site-section">
      <div class="container">
        <center><h2 class="title text-cursive mb-4">Our Teaching</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             <center><p><i>An investment in knowledge pays the best interest.</i><br>-<small>Benjamin Franklin</small></p></center>
             <p align="justify">
  	Education is one of the most powerful things in life. It allows us to find the meaning behind everything and helps to improve lives in a massive way. Education gives us an understanding of the world around us and offers us an opportunity to use that knowledge wisely. Irrespective of race, creed, and gender, education makes it possible for people to stand out as equal with all the other persons from different walks of life. 
</p>         
<p align="justify">Overall, education is the platform that makes it possible to defeat all barriers.</p>
             
            </div>
          </div>
          
          
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/teaching5.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a class="cause-link d-block">
                  <img src="/front_end/images/teaching8.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

              
             <p align="justify">Prayas was initiated for upbringing and betterment of children belonging to underprivileged society by educating & fostering them. Prayas understands the importance of education and Prayas believes that it is everyone's  right to gain basic education and morals.</p>
              <p align="justify">Etiquettes are set of norms one must follow in order to be gentle and decorous. Prayas not only aims to provide academic knowledge, it also encourages the of basic moral values and ethics.</p>
             
             <p></p>
              
            </div>
          </div>
          
        </div>
        
        <div class="row mb-5 align-items-st">
          <div class="col-md-5">
            <div class="heading-20219">
             <p align="justify">Volunteers of Prayas teach the kids during the regular college days, before the college starts. They teach the kids for 1 hour during weekdays and events are conducted usually on weekends. To start with, whenever a new student is admitted to Prayas, the progress report is made of that student about how much that particular student knows and what that student needs to learn. If a student doesn't know anything and has to start with basic then volunteers of Prayas teach them digits and basic operation so atleast if they run a small shop then they can keep account of money. Different subjects are assigned to different volunteers, according to their knowledge and skills. Everyday attendance of kids as well as the volunteers is taken. Daily student progress report is being noted of each and every student. </p> 
             
            </div>
          </div>
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/teaching2.JPG" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                
                  </div>
                </a>

              
              </div>
          </div>
        </div>
        <center><h2 class="title text-cursive mb-4">Computer Classes</h2></center>
        <div class="row mb-5 align-items-st">
          <div class="col-md-7">
            <div class="cause shadow-sm">
              
                <a  class="cause-link d-block">
                  <img src="/front_end/images/comp_class.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                  
                  </div>
                </a>

               
              
              </div>
          </div>
          <div class="col-md-5">
            <div class="heading-20219">

             <p align="justify">Computer education plays an important role in students' career development. Computer with the internet is the most powerful device that students can use to learn new skills and more advanced version of current lessons. Computers and the internet not only help students to explore creativity and imagination but also help to understand technologies. Students are future of the nation.So, for the education development, it is really important to teach students about computers, internet and its benefits. So it is really important to give students the knowledge about advance and upcoming technologies.</p>
              <p align="justify">Prayas conducts computer sessions at some specific intervals for  kids so that they can learn about new upcoming technologies. LJIET provides labs and required resources for this computer sessions. The kids enjoy learning about computers, internet and many more technologies related to computers.</p>
              
              
            </div>
          </div>
          
        </div>
        <center><h2 class="title text-cursive mb-4">Parents Teacher Meeting</h2></center>
          <div class="row mb-5 align-items-st">
            <div class="col-md-5">
              <div class="heading-20219">
               <p align="justify">Conducting effective parent-teacher conferences can boost family involvement in your classroom and help promote positive outcomes for you, your students, and your school.</p>
               <p align="justify">This is a meeting between parents and the teacher to talk about child’s learning and progress. They might be called parent-teacher interviews, parent-teacher conferences or even learning conferences.</p>
               <p align="justify">Prayas conducts parents teacher meeting to discuss child's overall growth and development for being a better person in life. </p>
                
               
               
              </div>
            </div>
            <div class="col-md-7">
              <div class="cause shadow-sm">
                
                  <a  class="cause-link d-block">
                    <img src="/front_end/images/ptm2.jpeg" alt="Image" class="img-fluid">
                    <div class="custom-progress-wrap">
                    
                  
                    </div>
                  </a>
  
                
                </div>
            </div>
          </div>  

              
              </div>
          </div>
        </div>       
        
      </div>
    </div>

    

    
    <div class="site-section">
        <div class="container">
          <center>
                <div class="" ><h2 class="text-cursive">Follow us on <br><br><a href="https://m.facebook.com/prayas.forbetterfuture/" class="pl-3 pr-3" target="_blank"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/prayas_ljiet/" class="pl-3 pr-3"  target="_blank"><span class="icon-instagram"></span></a></h2></div>
               </center>
          
        </div>
      </div>
      <footer class="site-footer bg-white" style="padding: 0;">
      
           
        <center>      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Prayas</center>
  
        <br>
    
        <span style="float: right;"><a href="#owl-carousel-wrapper">Go To Top<span style="font-size: 36px;">&#8593;</span></a> </span>
          </footer>

    </div>

  

  </body>

